* {
  margin: 0;
  padding: 0;
}
.navcontainer {
  width: 100%;
  height: 80px;
  /* background-color: rgb(184, 170, 170); */
  padding: 20px;
  padding-left: 120px;
  padding-right: 120px;

  /* position: fixed; */
  /* top: 0;  */
}
.navcontainer .subnavcontainer {
  width: 100%;
  height: 100%;
  /* background: #000; */
  display: flex;
  /* background: rgb(155, 32, 32); */

  padding-left: 50px;
}

.navcontainer .subnavcontainer .navlistcontainer {
  display: flex;
}
.navlist {
  display: flex;
  margin-left: 100px;

  align-items: center;
  justify-content: center;

  list-style: none;
}

.navlist li {
  margin-left: 60px;

  font-size: 16px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;

  transition: 0.3s;
}
.navlist li:hover {
  cursor: pointer;
  color: rgb(137, 128, 116);
}

#navimage {
  width: 170px;
  height: 100%;
}

.maincontainer {
  width: 100%;

  height: 650px;

  background-image: url(images/1.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center; */
  align-items: center;
}

.submaincontainer {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.submaincontainer h4 {
  color: white;
  margin-top: 100px;
}
.submaincontainer h1 {
  font-size: 300%;
  margin-right: 100px;
  font-weight: 700;
  color: #1cb0e6;
  margin-top: 20px;
}
.submaincontainer p {
  color: white;
  margin-right: 250px;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
  line-height: 30px;
}
.submaincontainer button {
  width: 150px;
  height: 40px;
  background-color: #1cb0e6;

  border-radius: 20px;
  padding: 0px 20px;
  transition: 0.5s;
  margin-top: 20px;
}
.submaincontainer button:hover {
  border: 2px solid #1cb0e6;

  color: #1cb0e6;
  background-color: transparent;
}

.infocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 700px;

  flex-direction: column;
  margin-left: 400px;
  margin-right: 200px;
}
.infocontainer h1 {
}

.infocontainer p {
}

.infocontainer button {
  width: 150px;
  height: 40px;
  background-color: #000;
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}
.infocontainer button:hover {
  border: 2px solid #000;
  color: black;
  background-color: transparent;
}

.thirdcontainer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0.927608543417367) 45%,
    rgba(21, 19, 149, 1) 100%,
    rgba(32, 57, 110, 1) 100%,
    rgba(0, 119, 143, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );

  color: white;

  display: flex;
  padding: 40px;
  height: 600px;
}

.thirdsubcontainer1 {
  width: 60%;
  padding: 50px;
}

.thirdsubcontainer1 h1 {
}
.thirdsubcontainer1 p {
  padding-right: 40px;
  margin-top: 30px;
}

.thirdsubcontainer2 {
  background: white;
  color: black;
  margin-left: 30px;
  padding: 40px;
  height: 120%;
  margin-right: 20px;
  width: 40%;
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 15px;
  border: 1px solid;
  border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thirdsubcontainer2 img {
  width: 580px;
  height: 300px;

  margin-bottom: 10px;
  border-radius: 5px;
}

.thirdsubcontainer2 h2 {
  margin: 20px;

  font-size: 20px;
}

.thirdsubcontainer2 p {
  padding: 30px;

  padding-top: 0px;
}

.thirdsubcontainer2 a {
  margin-top: -10px;
}


.missioncontainer
{

    background: rgba(21, 20, 20, 0.911);

    margin-top: 100px;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.missioncontainer h1
{


}
.missioncontainer p
{

    margin-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}
.missioncontainer button {
    width: 200px;
    height: 50px;
    background-color: #1cb0e6;
  
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.5s;
    margin-top: 20px;
  }
  .missioncontainer button:hover {
    border: 2px solid #1cb0e6;
  
    color: #1cb0e6;
    background-color: transparent;
  }


.resultcontainer
{

    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 100px;
    margin-bottom: 50px;
    padding-bottom: 0px;

}

.resultcontainer h1
{



}
.resultcontainer p
{

padding: 80px;
padding-top: 20px;

}


.lastcontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-bottom: 5px;
}

.lastsubcontainer1
{

    display: flex;
} 

.lastsubcontainer1 .list{

  margin-right: 50px;

}

.list h3
{
  margin-left: 20px;
  margin-bottom: 20px;
}

.list ul
{

}

.list ul li
{
    list-style: none;
    margin-left: -10px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: 700;
  color: rgb(104, 98, 98);
  }

hr
{
    width: 80%;
    height: 5px;
}


.lastsubcontainer2
{
  display: flex;
  width: 80%;
  justify-content: space-between;
}
